.app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

// .app .app-header {

// }

.app .app-container {
  flex-grow: 1;
}

.app .app-header #image {
  display: block;
  height: 150px;
  margin: 0px auto;
  padding: 10px 0px;
}

.headerbar {
  display: flex;
  flex-direction: row;
  background-color: #8f899e;
  border: #ff8f00 solid 1px;
  border-radius: 13px;
  margin: 0px 5px 0px 5px;
}

.split-line {
  margin: 0px 20px;
}

.headerbar .header-code {
  display: flex;
  padding: 5px 15px 5px;
  width: 50%;
}

.headerbar .header-output {
  display: flex;
  // text-align: center;
  width: 50%;
}

.headerbar .header-output label {
  padding: 10px 10px 10px 30px;
  font-size: 18px;
  font-weight: bold;
}

.header-code .code-tabs {
  display: flex;
  flex-grow: 3;
  align-items: center;
  overflow-x: auto;
}

.header-code .editor-option {
  flex-grow: 1;
}

.header-code .run-code {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.codecom-btns {
  background-color: #fff000;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  border: 0;
  font-size: 16px;
}

.add-file-tabs {
  border-radius: 50%;
  background-color: gray;
  height: 100%;
  width: 30px;
  color: black;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  margin: 0px 0px 0px 5px;
  cursor: crosshair;
}

.run {
  border-radius: 4px;
  transition: 200ms;
  // user-select: none;
  // -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

.run:active {
  outline: 0;
  background: #ff7800;
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.orientation-icon {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f0db';
}

.app-container {
  display: block;
  width: 100%;
  height: 100%;
  border: #000 solid 6px;
  overflow-y: hidden;
}

.p-splitter-gutter {
  background: grey;
}

.p-splitter-gutter-handle {
  background: #000;
}

.code-area {
  width: 100%;
  height: 100%;
  //overflow: hidden;
}

.cm-editor {
  height: 100%;
}
